<h1>Cocktails#index</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</ul>

<%= link_to "Add a new cocktail", new_cocktail_path %>
